@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.subHeader {
  margin-top: 40px;
  text-align: center;
  max-width: 95%;
}

a h3 {
  color: #0064d0;
}

a h3:hover {
  color: #004b9d;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.brand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 36px;
  font-weight: 600;
  background-color: #141414;
  padding: 10px 0;
}

.brand span:nth-child(1) {
  color: #00cfb4;
}

.brand span:nth-child(2) {
  color: #00b8c8;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  padding-top: 9vh;
  padding-bottom: 9vh;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 13vh;
    padding-bottom: 13vh;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.features-icons {
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-bottom: 2vh;
}

.features-icons .row div {
  margin-bottom: 6vh;
}

.features-icons .row div img {
  margin-bottom: 2vh;
  width: 100%;
}
