.features-icons {
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-bottom: 2vh;
  .row {
    div {
      margin-bottom: 6vh;
      img {
        margin-bottom: 2vh;
        width: 100%;
      }
    }
  }
}
