// Mixins
// Background Cover Mixin
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin brand-font {
  font-family: 'Montserrat Alternates', sans-serif;
}

@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
