// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "icons.scss";

.contact {
  padding-top: 4vh;
  padding-bottom: 4vh;

  a {
    color: $turquoise-surg;

    &:hover {
      color: $amazonite;
    }
  }
}