.purchase-intro-main-section {
  display: flex;
  gap: 2rem;

  > .forms {
    width: 40%;
  }

  > .preview {
    flex-grow: 1;
  }
}

.markdown-description {
  font-size: 1.2em;

  ul > li > p {
    margin-bottom: 0;
  }

  > ul > li {
    margin-bottom: 0.5em;
  }
}
