.purchase-intro-main-section {
  display: flex;
  gap: 2rem;

  > .forms {
    width: 50%;

    .preview-mobile {
      display: none;
    }
  }

  > .preview {
    width: 50%;
  }

  @media (max-width: 1024px) {
    > .forms {
      width: 100%;

      .preview-mobile {
        display: flex;
      }
    }

    > .preview {
      display: none;
    }
  }
}

.markdown-description {
  font-size: 1.2em;

  ul > li > p {
    margin-bottom: 0;
  }

  > ul > li {
    margin-bottom: 0.5em;
  }
}
