.home__contact-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

.home__customers-note {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  font-weight: 300;
}

.home__customers-supported {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
}
