:root {
  --color-primary: #00cfb4;
  --color-secondary: #00b8c8;
  --color-dark: #00171f;
  --color-active: #003459;
  --color-background-dark: #141414;
  --color-gray-text: #bdbdbd;
  --transition-speed: 0.2s;
}

/* overwrite css framework */
.ui.four.cards>.card {
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  margin-right: 1em;
  margin-left: 1em;
  width: calc(25% - 2em);
}

.ui.cards a.card {
  transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
}

.ui.cards a.card:hover {
  box-shadow: 0 25px 50px -15px rgba(50,50,93,.25), 0 15px 32px -15px rgba(0,0,0,.3), 0 -12px 34px -8px rgba(0,0,0,.025);
}

.ui.card .content .header.header.header {
  font-size: 1.2rem;
}
