.block-content-p {
  margin: 0 0 2.5rem;
}

.block-content-h1 {
  font-size: 2.5rem;
}

.block-content-h2 {
  font-size: 2.0rem;
}

.block-content-blockquote {
  color: #8e8e8e;
  font-style: italic;
  font-size: 2rem;
  line-height: 3rem;
  margin: 0 0 2.5rem;
}

.block-content-youtube {
  max-width: 100%;
}
