.ui.container.text {
  margin-top: 20px;
}

.accordion.ui.styled.faq-accordion {
  .title {
    color: rgba(0,0,0,.87);

    i {
      color: rgba(0, 0, 0, 0.4);
    }

    &:hover {
      i {
        color: rgba(0,0,0,.87);
      }
    }
  }
}

main {
  margin-bottom: 150px;
}
