.section {
  position: relative;
  padding: 100px 0;

  @media (max-width: 1024px) {
    padding: 40px 0;
  }
}

.section--dark {
  background-color: #fafafa;
}

.section--right {
  text-align: right;
  
  @media (max-width: 1024px) {
    text-align: left;
  }
}

.section__text {
  width: 50%;
  margin-bottom: 4rem;
  
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.section__text--right {
  margin-left: auto;
}

.section__text--center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 300;
}

.section__description {
  font-size: 1.6rem;
  font-weight: 300;
}

.section--stranger-things-lights {
  &::before {
    background-image: url('../images/background/stranger-things-lights.jpg')
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center left;
    opacity: 0.3;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
