.section {
  position: relative;
  padding: 150px 0;

  @media (max-width: 1024px) {
    padding: 60px 0;
  }
}

.section--dark {
  background-color: var(--color-background-dark);
  color: #fff;
}

.section--right {
  text-align: right;
  
  @media (max-width: 1024px) {
    text-align: left;
  }
}

.section__content {
  position: relative;
}

.section__text {
  width: 50%;
  margin-bottom: 4rem;
  
  @media (max-width: 1024px) {
    width: 100%;
  }
}

.section__text--right {
  margin-left: auto;
}

.section__text--center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section__title {
  font-size: 2.5rem;
  font-weight: 300;
}

.section__description {
  font-size: 1.5rem;
  font-weight: 300;
}

.section__image {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  opacity: 0.35;
  filter: saturate(0.5);
  -webkit-mask-image: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);

  @media (max-width: 1024px) {
    -webkit-mask-image: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  }

  .gatsby-image-wrapper {
    height: 100%;
  }
}

.section__image--full {
  width: 100%;
  left: unset;
  right: unset;
  -webkit-mask-image: unset;
}

.section--right {
  .section__image {
    left: 0;
    -webkit-mask-image: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    
    @media (max-width: 1024px) {
      left: unset;
      right: 0;
      -webkit-mask-image: linear-gradient(270deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    }
  }
}